# Twitter API Credentials
TWITTER_API_KEY=sSbj7DdPu3I6gjD1WtGpcbDaAN7ucFiAAesOPpOGOVs1zmTz_v
TWITTER_API_SECRET=pt745x95u4YHa5Ib5M1wxGWCcIeyvGfFQwITanH46tjWUakmbz
TWITTER_ACCESS_TOKEN=1975363458716569600-HUc3KrrCbFvwtgvw0J0Le0nWpq8Vg5
TWITTER_ACCESS_SECRET=CQaIhRpUyLUvm2UB2iv9ZQwMwAdN6BQjsIxhPrVdU2W8m
TWITTER_BEARER_TOKEN=AAAAAAAAAAAAAAAAAAAAALPl9AEAAAAASgHwjd02kqpGOgWGRU%2FuSEaEdeo%3DIFsO6O8SfnfiAazT6u25M2F8TTUNrmiGTUK9b2k5DK3mEn0Rp8

# OpenRouter API Credentials
OPENROUTER_API_KEY=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

# Bot Configuration
SECONDARY_BOT_HANDLE=@bot_qwerty
POLL_INTERVAL_MINUTES=5
  

CLIENT_ID=TFVZTFZJNWhqM19pRjBsTUVWOVg6MTpjaQ